html {
   font-family: "sans-serif", sans-serif, Arial;
   font-size: 30px;
}

body {
    font-family: "Calisto MT";
    margin: 15px;
}
.div-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.container-heading {
    background-color: white;
    padding: none;
    margin: none;
}

#heading {
    width: 90%;
}

.li {
   display: inline;
}

.login-margin {
   margin-right: 45px;
   padding: 5px;
   border: 1px solid black;
   background-color: black;
   color: white;
}

.div-align {
    text-align: center;
}

.div-text {
    color: white;
    text-align: centre;
}

.div-container {
    background-color: black;
    border-top: solid #33A7FF;
    border-bottom: solid #33A7FF;
    padding-top: 5px;
}

.text-position {
    margin-top: 200px;
    margin-bottom: 250px;
    text-align: centre;
    background-color: white;
    color: black;
}

.container-fluid {
    background-color: white;
}

.div-image {
    text-align: left;
    padding-top: 100px;
}

.image-text {
    padding-left: 100px;
}

function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}

function onSignIn(googleUser) {
  var id_token = googleUser.getAuthResponse().id_token;
  ...
}

var xhr = new XMLHttpRequest();
xhr.open('POST', 'https://yourbackend.example.com/tokensignin');
xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
xhr.onload = function() {
  console.log('Signed in as: ' + xhr.responseText);
};
xhr.send('idtoken=' + id_token);

function signOut() {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                        console.log('User signed out.');
                        });
                        }

.div-padding {
    padding-top: 100px;
    padding-bottom: 50px;
}
