<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Doorbell - Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css"/>
</head>

<body>
<div class="div-sticky container-heading">
    <table>
        <tr>
            <td id="heading">
                <h1>
                    <h1>Smart Doorbell</h1>
                </h1>
            </td>
            <td>
                   <div class="li" >
                           <a class="login-margin" href="login.html">Login</a>
                  </div>
            </td>
        </tr>
    </table>
</div>

    <div class="div-container div-text div-align">
        <h6>Home surveillance system</h6>

    </div>

    <div class="text-position">
        <div class="div-align">
             <h4>Make your home safer through</h4>
             <h4>affordable and efficient</h4>
             <h4>means.</h4>
             </div>
    </div>

<div>
    <table>
        <tr>
            <td>
                <img src="static/images/MicrosoftTeams-image.png">
            </td>
            <td>
                <h6 class="image-text">about why the product is kinda cool</h6>
            </td>
        </tr>
    </table>
</div>


</body>
</html>
